<mat-toolbar color="primary" class="sticky top-0 h-20 flex justify-between">
  <a href="/" target="__blank" class="md:block hidden">
    <span>Na lámsza! A székely Gugel</span>
  </a>
  <div>
    <button mat-icon-button class="example-icon favorite-icon p-3" aria-label="Example icon-button with heart icon">
      <mat-icon>door_front</mat-icon>
    </button>
    <button mat-icon-button class="example-icon p-3" aria-label="Example icon-button with share icon">
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
